
<div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/Client/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Admin</a>
        </div>
    </div>

    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                 <a href="@Url.Action("Index", "Admin")" class="nav-link">

                    <p>
                        Trang chủ
                    </p>
                </a>

            </li>
            <li class="nav-item">
                 <a href="@Url.Action("Index", "Quanlisanpham")" class="nav-link">

                    <p>
                        Quản lí sản phẩm
                    </p>
                </a>

            </li>
            <li class="nav-item">
                 <a href="@Url.Action("Index", "Quanlinguoidung")" class="nav-link">

                    <p>
                        Quản lí người dùng

                    </p>
                </a>
            </li>
            <li class="nav-item">
                 <a href="@Url.Action("Index", "Quanlidonhang")" class="nav-link">

                    <p>
                        Quản lí đơn hàng

                    </p>
                </a>
            </li>
            <li class="nav-item">
                 <a href="@Url.Action("Index", "ThongKe")" class="nav-link">

                    <p>
                        Thống kê
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Logout", "Admin")" class="nav-link">

                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>