@model IEnumerable<Group17_MVC.ViewModel.ShopViewModel>

<h3>Có <b>@Model.Count()</b> sản phẩm</h3>

@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
               
                   <a href="@Url.Action("Detail", "Shop", new { id = item.MaSach })">
                       <img src="~/Content/images/@item.Hinh" class="img-fluid w-100 rounded-top" alt="Hình ảnh sách">
                   </a>

            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                 style="top: 10px; left: 10px;">
                @item.TenTheLoai
            </div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>@item.TenSach</h4>

                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">
                        @item.DonGia.ToString("N0") đồng
                    </p>
                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("maSach", item.MaSach) <!-- Ẩn mã sách để gửi cùng form -->

                        <button type="submit" class="btn btn-primary rounded-pill px-4">
                            <i class="fa fa-shopping-bag me-2"></i> Thêm vào giỏ hàng
                        </button>
                    }




                </div>
            </div>
        </div>
    </div>
}
<script>
    $("#addToCartForm").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: $(this).serialize(),
            success: function (data) {
                $("#cartIconContainer").html(data); // Cập nhật icon giỏ hàng
            },
            error: function () {
                alert("Có lỗi xảy ra khi thêm vào giỏ hàng.");
            }
        });
    });
</script>

